<div class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
				data-target="#navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>

			<a class="navbar-brand">
				<div class="logo-image">
					<img src="{{ site.url }}{{ site.baseurl }}/images/logopic/logo_a2i.png" class="img-fluid">
				</div>
			</a>
			<a class="navbar-brand" href="{{ site.url }}{{ site.baseurl }}/"><strong>PAIL</strong></a>
		</div>
		<div class="collapse navbar-collapse" id="navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="{{ site.url }}{{ site.baseurl }}/team"><strong>MEMBERS</strong></a></li>
				<li><a href="{{ site.url }}{{ site.baseurl }}/research"><strong>RESEARCH</strong></a></li>
				<li><a href="{{ site.url }}{{ site.baseurl }}/publications"><strong>PUBLICATIONS</strong></a></li>
				<li><a href="{{ site.url }}{{ site.baseurl }}/projects"><strong>PROJECTS</strong></a></li>
				<li><a href="{{ site.url }}{{ site.baseurl }}/courses"><strong>COURSES</strong></a></li>
				<li><a href="{{ site.url }}{{ site.baseurl }}/vacancies"><strong>VACANCIES</strong></a></li>
				<li><a href="{{ site.url }}{{ site.baseurl }}/blog/"><strong>BLOG</strong></a></li>
				<li><a href="{{ site.url }}{{ site.baseurl }}/pictures"><strong>PICs</strong></a></li>
			</ul>
		</div>
	</div>
</div>